<!doctype html>
<html lang="en">

<head>
<style>
        .footer1{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: right;
}
</style>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link  rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>IPL Genie</title>
</head>

<body class="text-center">
	<form class="form-signin" method="POST" action="{{ url_for('predict') }}">
		<h1 class="h3 mb-3 font-weight-normal">IPL Genie</h1>
        <br>
		<label for="TeamratingA" class="sr-only">Team A rating</label>
		<input type="number" step="0.1" id="TeamratingA" min="0" max="2" name="TeamA" class="form-control" placeholder="Team A rating" required autofocus>
        <br>
		<label for="TeamratingB" class="sr-only">Team B rating</label>
		<input type="number" step="0.1" id="TeamratingB" min="0" max="2" name="TeamB" class="form-control" placeholder="Team B rating" required>
        <br>
		<label for="HomeGround">Choose HomeGround:</label>
		<select id="HomeGround" name="Homeground">
			<option value=1>Team A</option>
			<option value=0>Team B</option>
			<option value=0.5>Neutral</option>
		</select>
        <br><br>
		<label for="Toss">Choose Toss Winner:</label>
		<select id="Toss" name="Toss">
			<option value=1>Team A</option>
			<option value=0>Team B</option>
		</select>
        <br><br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Predict</button>
	    <br>
    </form>
			<p>
                <a href="{{ url_for('calculate') }}">Click Here to Calculate Rating</a>
			</p>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/mprajay999/IPL-Genie"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="https://www.linkedin.com/in/mprajay999"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by Prajay.</p>
       </div>


</body>

</html>